@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  background-color: var(--polyfillBackground);
  background: linear-gradient(
    135deg,
    var(--gradientBackgroundFrom),
    var(--gradientBackgroundTo)
  );
  min-height: 100vh;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

:root {
  --polyfillBackground: #0c1025;
  --gradientBackgroundFrom: #0c143d;
  --gradientBackgroundTo: #090b14;
  --primary: #1a7bcf;
  --primaryLight: #52a2e7;
  --secondary: #1549bf;
  --text: #abc2d4;
  --textLight: #ffffff;
  --borderRadius: 5px;
}
