@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  background-color: var(--polyfillBackground);
  background: linear-gradient(
    135deg,
    var(--gradientBackgroundFrom),
    var(--gradientBackgroundTo)
  );
  font-family: "Montserrat", sans-serif;
}

body.no-scroll {
  overflow-y: hidden;
}

#root {
  overflow-x: hidden;
  padding: 30px;
  min-height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

p {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text);
  margin: 20px 0;
}

p b {
  font-weight: 500;
  color: var(--textLight);
}

p a {
  color: var(--primaryLight);
  font-weight: 500;
}

:root {
  --polyfillBackground: #0c1025;
  --gradientBackgroundFrom: #0c143d;
  --gradientBackgroundTo: #090b14;
  --primary: #1a7bcf;
  --primaryLight: #52a2e7;
  --secondary: #1549bf;
  --text: #abc2d4;
  --textLight: #ffffff;
  --textDark: #0c1025;
  --success: #98e792;
  --error: #ff9696;
  --borderRadius: 5px;
  --transitionDuration: 0.3s;
}
